$background-color: #f8f8f8;
$background-light-color: #ffffff;

$dark-text-color: #1b1c21;
$gray-text-color: #7e7e82;
$placeholder-text-color: #b5b6bc;

$devider-color: #eaeaea;
$link-border-color: #b8ffec;
$pink-decore-color: #ff3e79;

$shadow-1: rgba(14, 24, 80, 0.2);
$shadow-2: rgba(69, 79, 126, 0.02);

$gradient-color: #f8f8f8;

$pagination-color: #dddddd;
$pagination-active-color: #b5b6bc;
